<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		<mapper namespace="com.babao.system.mapper.DictDataMapper">

			<sql id="selectDictDataVo">
		        SELECT dict_label,dict_value,is_default FROM dict_data WHERE STATUS = 0
		    </sql>

			<select id="selectDictByType" resultType="DictData">
					SELECT dict_label,dict_value,is_default FROM dict_data WHERE STATUS = 0 AND dict_type = #{dictType}
			</select>

		</mapper>