<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babao.system.mapper.RoleMapper">
	<select id="selectRoleList" resultType="Role">
		SELECT * FROM  role WHERE role_status = 0 ORDER BY parent_role_id,role_sort
	</select>	
</mapper> 