<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增试卷')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-dict-add">
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-sm-3 control-label">纯文本：</label>
					<div class="col-sm-9">
						<p class="form-control-static">这里是纯文字信息</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">单选题：</label>
					<div class="col-sm-9">
						<select class="form-control" name="singleNum">
							<option>---请选择数量---</option>
							<option>随机</option>
							<option>50</option>
							<option>30</option>
							<option>20</option>
							<option>10</option>
							<option>5</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">多选题：</label>
					<div class="col-sm-9">
						<select class="form-control" name="multipleNum">
							<option>---请选择数量---</option>
							<option>随机</option>
							<option>20</option>
							<option>15</option>
							<option>10</option>
							<option>5</option>
							<option>0</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">简答题：</label>
					<div class="col-sm-9">
						<select class="form-control" name="shortNum">
							<option>---请选择数量---</option>
							<option>随机</option>
							<option>10</option>
							<option>7</option>
							<option>5</option>
							<option>3</option>
							<option>0</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">难度：</label>
					<div class="col-sm-9">
						<label class="radio-box">
							<input type="radio" checked="" value="FIRST_LEVEL" id="optionsRadios1" name="quLevel">初级</label>
						<label class="radio-box">
							<input type="radio" value="MIDDLE_LEVEL" id="optionsRadios2" name="quLevel">中级</label>
						<label class="radio-box">
							<input type="radio" value="HIGH_LEVEL" id="optionsRadios3" name="quLevel">高级</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">答题时间：</label>
					<div class="col-sm-9">
						<label class="radio-box">
							<input type="radio" checked="" value="45" id="optionsRadios1" name="answerTime">45分钟</label>
						<label class="radio-box">
							<input type="radio" value="60" id="optionsRadios2" name="answerTime">1小时</label>
						<label class="radio-box">
							<input type="radio" value="90" id="optionsRadios3" name="answerTime">1.5小时</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">备注：</label>
					<div class="col-sm-9">
						<input type="text" name="remark" class="form-control" placeholder="请输入文本">
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "paper";
	
		$("#form-dict-add").validate({
			rules:{
				dictSort:{
					digits:true
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/add", $('#form-dict-add').serialize());
	        }
	    }
	</script>
</body>
</html>
